// PAGE NAV ------------- 
// used on person detail page mainly.

.details-person .page-nav{
   padding-top: 30px;
}

.page-nav{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px 30px 10px;
    @media (min-width:55em){
        flex-direction: row;
    }
    a{
        text-decoration: none;
        color: var(--clr-text-light);
        font-weight: 500;
        margin-right: 10px;
    }
}